flows.json
[
    {
        "id": "49565ff.f13c0a",
        "label": "new package",
        "type": "tab"
    },
    {
        "id": "d4f4ec2f.a9563",
        "type": "inject",
        "z": "49565ff.f13c0a",
        "name": "inject",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": 8,
        "crontab": "",
        "once": false,
        "x": 216.5,
        "y": 280,
        "wires": [
            [
                "49572bbf.62d5d4"
            ]
        ]
    },
    {
        "id": "49572bbf.62d5d4",
        "type": "dbfunction",
        "z": "49565ff.f13c0a",
        "ptype": {},
        "name": "",
        "func": "return {\n    payload: Math.random() > 0.5 ? \"on\": \"off\"\n    \n}",
        "outputs": 1,
        "inputtypedef": "",
        "outputtypedef": "",
        "noerr": 0,
        "x": 347.5,
        "y": 277,
        "wires": [
            [
                "7d94ceef.74659"
            ]
        ]
    },
    {
        "id": "7d94ceef.74659",
        "type": "bulbsout",
        "z": "49565ff.f13c0a",
        "name": "",
        "subtype": "set-bulb-on",
        "value": "",
        "x": 503.5,
        "y": 213,
        "wires": []
    }
]